@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Nunito:wght@600&display=swap");

.covertturf {
  background-color: white;
  border-radius: 42px;
  height: 350px;
  text-align: center!important;
}
.covertturf_title {
  padding: 90px 0px;
}
.covertturf_title .title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 107.18%;
}

.sub_title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 107.18%;
  letter-spacing: 0.06em;
  color: #55d26f;
}
.checkbutton {
  margin-top: 38px;
}
.check_btn {
  border: #55d26f;
  background: linear-gradient(90.53deg, #55d26f -5.26%, #8bdd92 103.07%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 15px 65px;
  font-size: 20px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  line-height: 123.68%;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
