@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

.landingpage {
  overflow-x: hidden;
  box-shadow: 0px 4px 23px rgba(138, 138, 138, 0.07);
}
.landingpage_img{
  margin-top: -100px;
}

.enturflogo {
  font-family: "Kodchasan";
  font-style: normal;
  font-weight: 700;
  font-size: 34.2612px;
  line-height: 123.68%;
}
.sublogo {
  color: #5fd068;
}
.enturf_logintxt {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  text-decoration: underline;
}
.enturf_registertxt {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  text-decoration: underline;
  margin-top: 3px;
}
.enturf_registertxt:hover {
  color: #5fd068;
  cursor: pointer;
}
.enturf_logintxt:hover {
  color: #5fd068;
  cursor: pointer;
}
.landingpagetxt {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 800;
  font-size: 67px;
  line-height: 99px;
  color: #2b2b35;
}
.landingpage_dsrptn {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 149.52%;
}
.USERS {
  margin-top: 2px;
}
.turf_title {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}
.turf_no {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #5fd068;
  line-height: 85%;
}
.turf_dsrptn {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #2b2b35;
}
.turfs {
  margin-left: -15px;
}

/* dynamic texts */
.dynamic_txts{
  height: 300px;
  line-height: 100px;
  overflow: hidden;
  position: relative;
  top:30px;
}
.dynamic_txts li{
  font-size: 65px;
  position: relative;
  top: 0;
  right: 10px;
 line-height: 100px;
 animation: slide 10s steps(10)
 infinite
 ;
}
@keyframes slide{
  100%{
         left: -600px;
  }
}
.dynamic_txts li::after{
  content: "";
  position: absolute;
  top: 120px;
  right: -600px;
  left: 0px;
  height: 70px;
  width: 100%;
  border-left: 2px solid rgb(188, 12, 12);
  animation: typing 6s steps(6)
  infinite;
}
@keyframes typing{
  40%,
  60%{
         right:calc(100% + 1px);
  }
  100%{
         right:0
  }
}

@media only screen and (max-width: 1514px) {
  .landingpagetxt {
    font-size: 64px;
    line-height: 90px;
  }
  .landingpage_dsrptn {
    font-size: 26px;
  }
  .turf_no {
    font-size: 60px;
  }
}
@media only screen and (max-width: 1459px) {
  .landingpagetxt {
    font-size: 60px;
    line-height: 85px;
  }
  .landingpage_dsrptn {
    font-size: 24px;
  }
  .turf_no {
    font-size: 59px;
  }
}

@media only screen and (max-width: 1385px) {
  .landingpagetxt {
    font-size: 55px;
    line-height: 80px;
  }
  .landingpage_dsrptn {
    font-size: 22px;
  }
  .turf_no {
    font-size: 56px;
  }
}

@media only screen and (max-width: 1293px) {
  .landingpagetxt {
    font-size: 50px;
    line-height: 75px;
  }
  .landingpage_dsrptn {
    font-size: 22px;
  }
  .turf_no {
    font-size: 50px;
  }
}
@media only screen and (max-width: 1201px) {
  .landingpagetxt {
    font-size: 47px;
    line-height: 70px;
  }
  .landingpage_dsrptn {
    font-size: 21px;
    padding-right: 10px;
  }
  .turf_no {
    font-size: 46px;
  }
}
@media only screen and (max-width: 1147px) {
  .landingpagetxt {
    font-size: 41px;
    line-height: 65px;
  }
  .landingpage_dsrptn {
    font-size: 21px;
    padding-right: 60px;
  }
  .turf_no {
    font-size: 40px;
  }
  .turf_title {
    font-size: 10px;
  }
  .turf_dsrptn {
    font-size: 10px;
  }
  .turfs {
    margin-left: -12px;
  }
}
@media only screen and (max-width: 1036px) {
  .landingpagetxt {
    font-size: 38px;
    line-height: 60px;
  }
  .landingpage_dsrptn {
    font-size: 19px;
  }
  .turf_no {
    font-size: 39px;
  }
}

@media only screen and (max-width: 981px) {
  .landingpagetxt {
    font-size: 35px;
    line-height: 55px;
  }
  .landingpage_dsrptn {
    font-size: 17px;
  }
  .turf_no {
    font-size: 36px;
  }
  .turf_title {
    font-size: 9px;
  }
  .turf_dsrptn {
    font-size: 9px;
  }
}
@media only screen and (max-width: 925px) {
  .enturflogo {
    margin-left: 0 !important;
    font-size: 25px;
  }
  .enturf_nav {
    padding: 0 0;
  }
  .landingpagetxt {
    font-size: 35px;
    line-height: 50px;
  }
  .landingpage_title {
    margin-left: 0 !important;
  }
  .landingpage_dsrptn {
    font-size: 19px;
    padding-right: 35px;
  }
  .turf_no {
    font-size: 36px;
  }
  .turfs {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 810px) {
  .landingpagetxt {
    font-size: 30px;
    line-height: 45px;
  }
  .turf_intro {
    margin-top: 15px !important;
  }
  .landingpage_dsrptn {
    font-size: 17px;
  }
  .turf_no {
    font-size: 33px;
  }
}
@media only screen and (max-width: 767px) {
  .landingpagetxt {
    font-size: 75px;
    line-height: 88px;
    margin-left: -40px !important;
  }
  .turf_intro {
    text-align: center;
  }
  .enturf_logintxt {
    position: relative;
    bottom: 35px;
  }
  .enturf_registertxt {
    position: relative;
    bottom: 35px;
  }
  .landingpage_dsrptn {
    font-size: 27px;
    padding-right: 100px;
    margin-left: 30px !important;
  }
  .turf_title {
    font-size: 15px;
  }
  .turf_no {
    font-size: 45px;
  }
  .turf_dsrptn {
    font-size: 17px;
    margin-right: 15px;
  }
  .turfs {
    margin-left: -10px;
  }
  .landingpage_img {
    margin-top: 50px;
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 677px) {
  .landingpagetxt {
    font-size: 70px;
    line-height: 80px;
  }
  .landingpage_dsrptn {
    font-size: 24px;
    padding-right: 70px;
  }
}
@media only screen and (max-width: 592px) {
  .landingpagetxt {
    font-size: 65px;
    line-height: 75px;
  }
  .landingpage_dsrptn {
    font-size: 22px;
    padding-right: 70px;
  }
}
@media only screen and (max-width: 576px) {
  .enturf_logintxt {
    position: relative;
    bottom: 1px;
  }
  .enturf_registertxt {
    position: relative;
    bottom: 1px;
  }
  .landingpage_dsrptn {
    position: relative;
    right: 15px;
  }
}
@media only screen and (max-width: 551px) {
  .landingpagetxt {
    font-size: 60px;
    line-height: 70px;
  }
  .landingpage_dsrptn {
    font-size: 19px;
    padding-right: 70px;
  }
  .turf_title {
    font-size: 13px;
  }
  .turf_no {
    font-size: 41px;
  }
  .turf_dsrptn {
    font-size: 15px;
  }
  .enturf_logintxt {
    font-size: 13px;
  }
  .enturf_registertxt {
    font-size: 13px;
  }
}
@media only screen and (max-width: 503px) {
  .landingpagetxt {
    font-size: 55px;
    line-height: 65px;
  }
  .landingpage_dsrptn {
    font-size: 17px;
    padding-right: 75px;
  }
  .enturflogo {
    margin-left: 0 !important;
    padding-left: 15px !important;
  }
}

@media only screen and (max-width: 472px) {
  .landingpagetxt {
    font-size: 48px;
    line-height: 60px;
  }
  .landingpage_dsrptn {
    font-size: 19px;
    padding-right: 70px;
    position: relative;
    right: 15px;
  }
}

@media only screen and (max-width: 398px) {
  .landingpagetxt {
    font-size: 41px;
    line-height: 55px;
  }
  .landingpage_dsrptn {
    font-size: 16px;
    padding-right: 70px;
  }
  .turf_title {
    font-size: 10px;
  }
  .turf_no {
    font-size: 38px;
  }
  .turf_dsrptn {
    font-size: 13px;
  }
}
@media only screen and (max-width: 357px) {
  .landingpagetxt {
    font-size: 37px;
    line-height: 55px;
  }
  .landingpage_dsrptn {
    font-size: 14px;
    padding-right: 80px;
  }
  .turf_no {
    font-size: 32px;
  }
  .enturf_logintxt {
    font-size: 10px;
  }
  .enturf_registertxt {
    font-size: 10px;
  }
  .enturflogo {
    font-size: 18px;
  }
}
@media only screen and (max-width: 343px) {
  .landingpagetxt {
    font-size: 34px;
    line-height: 50px;
  }
  .landingpage_dsrptn {
    font-size: 16px;
    padding-right: 10px;
    position: relative;
    right: 35px;
  }
  .turf_no {
    font-size: 25px;
  }
  .turfs {
    margin-left: -5px;
  }
  .TURFS {
    margin-left: -15px !important;
  }
}

@media only screen and (max-width: 312px) {
  .landingpagetxt {
    font-size: 32px;
    line-height: 48px;
  }
  .landingpage_dsrptn {
    font-size: 15px;
    padding-right: 10px;
    position: relative;
    right: 35px;
  }
  .turf_no {
    font-size: 23px;
  }
  .turf_title {
    font-size: 8px;
  }
  .turf_dsrptn {
    font-size: 9px;
  }
}
@media only screen and (max-width: 285px) {
  .landingpagetxt {
    font-size: 30px;
    line-height: 45px;
  }
  .landingpage_dsrptn {
    font-size: 13px;
    padding-right: 10px;
  }
}
