@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");


.Sturf_bg {
  background-image: url("../images/Sturfbg.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}
.Sturf_title {
  font-family: "Lexend Deca";
  font-size: Medium;
  font-size: 43px;
  line-height: 390%;
  color: white;
}
.Sturf_dscrptn {
  font-family: "Lexend Deca";
  font-weight: 300;
  font-size: 23px;
  line-height: 170%;
  color: white;
  letter-spacing: 6%;
}

.card {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  box-shadow: 2px 7px 7px 2px rgba(91, 91, 91, 0.05);
  border: none !important;
}

.card_img {
  width: 75%;
  height: 70%;
}
.cardimg_box {
  height: 160px;
}
.card-description {
  font-size: 16px;
  font-family: "Lexend Deca";
  font-style: Light;
  line-height: 25px;
  padding: 0px 35px;
}
@media only screen and (max-width: 1457px) {
  .card-description {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 1397px) {
  .card-description {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 1337px) {
  .card-description {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1277px) {
  .card-description {
    padding: 0 15px;
    line-height: 23px;
  }
  .card {
    margin-top: 0px !important;
  }
 
}
@media only screen and (max-width: 1217px) {
  .card-description {
    padding: 0 10px;
    line-height: 22px;
  }
 
}
@media only screen and (max-width: 1156px) {
  .card-description {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1090px) {
  .card-description {
    padding: 0 5px;
  }
}
@media only screen and (max-width: 1030px) {
  .card-description {
    font-size: 14px;
    line-height: 20px;
  }
  .card {
    height: 288px;
  }
}
@media only screen and (max-width: 991px) {
  .Sturf_bg {
    background-image: none;
    background-color: rgb(95, 208, 104);
    padding-bottom: 40px;
  }
  .cardsimg {
    margin-right: 10px !important;
  }
  
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .cardsimg {
    margin-right: 0px !important;
  }
  .cardimg {
    margin-right: 0px !important;
  }

 

}
@media only screen and (max-width: 700px) {
  .Sturf_dscrptn{
    font-size: 21px;
  }
  }
  @media only screen and (max-width: 635px) {
    .Sturf_dscrptn{
      font-size: 19px;
    }
   
  
    }
    @media only screen and (max-width: 580px) {
      .Sturf_dscrptn{
        font-size: 17px;
      }
      .Sturf_title{
        font-size: 40px;
      }
      }
@media only screen and (max-width: 520px) {
  .card-description {
    font-size: 18px;
    line-height: 25px;
    padding: 0 20px;
  }
  .Sturf_dscrptn{
    font-size: 22px;
    padding: 0 20px;

  }
}
@media only screen and (max-width: 440px) {
  .card-description {
    font-size: 16px;
    line-height: 24px;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 401px) {
  .card-description {
    font-size: 15px;
    line-height: 22px;
    padding: 0 15px;
  }
  .Sturf_dscrptn{
    font-size: 21px;
  }
  
}
@media only screen and (max-width: 364px) {
  .card-description {
    font-size: 14px;
    line-height: 21px;
    padding: 0 10px;
  }
  .Sturf_dscrptn{
    font-size: 20px;
    padding: 0 6px;
  }
 
}
@media only screen and (max-width: 327px) {
  .card-description {
    font-size: 13px;
    line-height: 19px;
    padding: 0 6px;
  }
  .Sturf_dscrptn{
    font-size: 18px;
    padding: 0 4px;

  }
  .Sturf_title{
    font-size: 36px;
  }

}
@media only screen and (max-width: 292px) {
  .card-description {
    font-size: 12px;
    line-height: 18px;
    padding: 0 7px;
  }
  .Sturf_dscrptn{
    font-size: 16px;
    padding: 0 4px;

  }
  
}

