@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");

.process_title {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.075em;
}
.lists{
  height: 60vh;
}
.ellipse{
  width: 100vw;
}
.el{
  position: relative;
  bottom: 170px;
  width: 10px;
  height: 1vh;
}
.ell{
  width: 5vw;
}
.el_1{
  width: 15vw;
}
.el_2{
  width: 60vw;
}
.el_3{
  width: 20vw;
}
.step_process{
  position: relative;
  bottom: 200px;
}
.steps_process{
  position: relative;
  bottom: 200px;
}
 
.Enturflist_loader {
  height: 100vh;
  width: 170%;
  overflow-y: hidden;
}
.Enturflist_email {
  height: 100vh;
  width: 100%;
  margin-left: 210px;
  overflow-y: hidden;
}
.Enturflist_verify {
  height: 100vh;
  width: 100%;
  margin-left: 270px;
  overflow-y: hidden;
}
.Enturfadminwebsite_loader {
  height: 100vh;
  width: 103%;
  overflow-y: hidden;
}
.Enturflist {
  height: 100vh;
  overflow-y: hidden;
}
.list_process {
  position: relative;
  right: 190px;
  bottom: 45px;
}
.bar {
  width: 6px;
  height: 7.5%;
  background-color: #eae7e7;
  margin-left: 14px;
}
/* .bar2{
 height: 100%;
 margin-left: 0px;
  background-color: #5fd068;
} */
.bar1 {
  height: 0%;
}

.circle {
  border: 1.46364px solid #5fd068;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 40px;
  background-color: #5fd068;
}
.circle2 {
  border: 1.46364px solid #939393;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.circle2:hover {
  background-color: #5fd068;
  border: 1.46364px solid #5fd068;
  color: white;
}
.step_2 {
  background-color: #5fd068;
  border: 1.46364px solid #5fd068;
  color: white;
}
.no1 {
  position: relative;
  top: 3px;
  color: white !important;
}
.no2 {
  position: relative;
  top: 0px;
}
.slidetxt {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.06em;
}
.slidetxt_2 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.06em;
}
.w3-light-grey {
  height: 60px;
  width: 6px;
  margin-left: 14px;
}
.w3-container {
  background-color: #5fd068;
  width: 4px !important;
  padding-left: 6px;
  padding-right: 0px;
}
@media only screen and (max-width: 1200px) {
  .process_title {
    font-size: 23px;
  }
}
@media only screen and (max-width: 1014px) {
  .slidetxt{
    font-size: 14px;
  }
  .slidetxt_2{
    font-size: 14px;
  }
}
@media only screen and (max-width: 975px) {
  .slidetxt{
    font-size: 13px;
  }
  .slidetxt_2{
    font-size: 13px;
  }
}
@media only screen and (max-width: 914px) {
  .slidetxt{
    font-size: 11px;
  }
  .slidetxt_2{
    font-size: 11px;
    margin-top: 55px!important;
  }
  .steps{
    margin-left: 20px!important;
  }
  @media only screen and (max-width: 775px) {
    .slidetxt{
      font-size: 10px;
    }
    .slidetxt_2{
      font-size: 10px;
      margin-top: 55px!important;
    }
    .steps{
      margin-left: 25px!important;
    }
  
  }
}

@media only screen and (max-width: 768px) {
  .process_title {
    font-size: 35px;
    line-height: 59px;
  }
  .slidetxt{
    font-size: 15px;

  }
  .slidetxt_2{
    font-size: 15px;
    margin-top: 45px!important;
 
  }
}
@media only screen and (max-width: 657px) {
 
  .slidetxt{
    font-size: 14px;

  }
  .slidetxt_2{
    font-size: 14px;
 line-height: 20px;
  }
}
@media only screen and (max-width: 619px) {
 
  .slidetxt{
    font-size: 13px;

  }
  .slidetxt_2{
    font-size: 13px;
 
  }
}
@media only screen and (max-width: 576px) {
.lists{
  height: 85vh;
}
}
@media only screen and (max-width: 582px) {
 
  .slidetxt{
    font-size: 12px;

  }
  .slidetxt_2{
    font-size: 12px;
 
  }
}
@media only screen and (max-width: 482px) {
 
  .slidetxt{
    font-size: 11px;

  }
  .slidetxt_2{
    font-size: 11px;
 
  }
}
@media only screen and (max-width: 449px) {
 
  .slidetxt{
    font-size: 10px;

  }
  .slidetxt_2{
    font-size: 10px;
 
  }
  .st{
    padding: 0px 0px !important;
  }
}
@media only screen and (max-width: 386px) {
 
  .slidetxt{
    font-size: 8px;
    margin-top: 30px!important;

  }
  .slidetxt_2{
    font-size: 8px;
    margin-top: 55px!important;

 
  }
}
@media only screen and (max-width: 320px) {
 
  .slidetxt{
    font-size: 7px;

  }
  .slidetxt_2{
    font-size: 7px;
  }
}

@media only screen and (max-width: 585px) {
  .process_title {
    font-size: 30px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 500px) {
  .process_title {
    font-size: 25px;
    line-height: 45px;
    margin-left: 4px;
  }
}

@media only screen and (max-width: 456px) {
  .process_title {
    font-size: 23px;
    line-height: 43px;
  }
}

@media only screen and (max-width: 430px) {
  .process_title {
    font-size: 22px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 371px) {
  .process_title {
    font-size: 20px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 337px) {
  .process_title {
    font-size: 18px;
    line-height: 35px;
  }
}
@media only screen and (max-width: 307px) {
  .process_title {
    font-size: 16px;
    line-height: 30px;
  }
}
