@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&display=swap");
.turflistedprocess{
  max-width: fit-content;
}




.process_title {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 0.075em;
}

.Enturflist_personal {
  height: 100vh;
  width: 120% !important;
  overflow-y: hidden;
  margin-top: -250px;
}

.Enturflist_email {
  height: 100vh;
  width: 100%;
  margin-left: 210px;
  overflow-y: hidden;
}
.Enturflist_verify {
  width: 100%;
  margin-left: 270px;
}
.steps_process {
  padding-top: 200px;
}
.bar {
  width: 6px;
  height: 7.5;
  background-color: #eae7e7;
  margin-left: 14px;
}
.bar1 {
  height: 0%;
}

.circle {
  border: 1.46364px solid #5fd068;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 40px;
  background-color: #5fd068;
}
.circle2 {
  border: 1.46364px solid #939393;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
}
.circle2:hover {
  background-color: #5fd068;
  border: 1.46364px solid #5fd068;
  color: white;
}
.step_2 {
  background-color: #5fd068;
  border: 1.46364px solid #5fd068;
  color: white;
}
.no1 {
  position: relative;
  top: 3px;
  color: white !important;
}
.no2 {
  position: relative;
  top: 0px;
}
.slidetext {
  width: 60% !important;
}
.slidetxt {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.slidetxt_2 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.slidetxt_3 {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.06em;
}
.w3-light-grey {
  height: 65px;
  width: 6px;
  margin-left: 14px;
}
.w3-container {
  background-color: #5fd068;
  width: 4px !important;
  padding-left: 6px;
  padding-right: 0px;
}
/* ellipse */

.el_1 {
  position: relative; /* Sit on top of the page content */
  width: 3.3%; /* Full width (cover the whole page) */
  height: 7%; /* Full height (cover the whole page) */
  top: 30px;
  left: 200px;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.el_2 {
  position: relative; /* Sit on top of the page content */
  width: 3.3%; /* Full width (cover the whole page) */
  height: 7%; /* Full height (cover the whole page) */
  top: 0px;
  left: 1260px;
  right: 0;
  bottom: 0;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.el_3 {
  position: relative; /* Sit on top of the page content */
  width: 3.3%; /* Full width (cover the whole page) */
  height: 7%; /* Full height (cover the whole page) */
  top: -100px;
  left: -20px;
  right: 0px;
  bottom: 0px;
  background-color: white; /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
@media only screen and (max-width: 1242px) {
  .steps_process {
    padding: 160px 0px;
  }
  .slidetxt {
    font-size: 14px;
  }
  .slidetxt_2 {
    font-size: 14px;
    margin-top: 29px !important;
  }
  .slidetxt_3 {
    font-size: 14px;
  }
}
@media only screen and (max-width: 1010px) {
  .process_title {
    font-size: 25px;
  }
  .circle {
    width: 30px;
    height: 30px;
  }
  .circle2 {
    width: 30px;
    height: 30px;
  }
  .w3-light-grey {
    height: 50px;
  }

  .slidetxt {
    font-size: 12px;
  }
  .slidetxt_2 {
    font-size: 12px;
    margin-top: 16px !important;
  }
  .slidetxt_3 {
    font-size: 12px;
    margin-top: 20px !important;
  }
  .Enturflist_personal {
    height: 70vh;
  }
  .animation {
    margin-top: 100px;
  }
  .sp {
    height: 500px;
  }
}
@media only screen and (max-width: 913px) {
  .Enturflist_personal  svg {
      height: 880px !important;
      overflow-y: hidden;
position: relative; 
bottom: 220px;   }
  }
@media only screen and (max-width: 945px) {
  .el_1 {
    display: none;
  }
  .el_2 {
    display: none;
  }
  .el_3 {
    display: none;
  }
  .animation {
    margin-top: 300px;
  }
}

@media only screen and (max-width: 870px) {
  .slidetext {
    width: 100% !important;
  }

  .slidetxt {
    font-size: 11px;
  }
  .slidetxt_2 {
    font-size: 11px;
  }
  .slidetxt_3 {
    font-size: 11px;
    margin-top: 30px !important;
  }
}
@media only screen and (max-width: 768px) {
  .process_title {
    font-size: 20px;
  }

  .slidetext {
    width: 60% !important;
  }
  .slidetxt {
    font-size: 13px;
  }
  .slidetxt_2 {
    font-size: 13px;
    margin-top: 30px !important;
  }
  .slidetxt_3 {
    font-size: 13px;
    margin-top: 25px !important;
  }
  .animation{
    margin-top: 380px!important;
  }
}
@media only screen and (max-width: 600px) {
  .process_title {
    font-size: 25px;
  }
  .slidetext {
    width: 70% !important;
  }
  .slidetxt {
    font-size: 12px;
  }
  .slidetxt_2 {
    font-size: 12px;
  }
  .slidetxt_3 {
    font-size: 12px;
  }
  .Enturflist_personal {
    height: 400px!important;
    overflow-y: hidden;
  }
 
}
@media only screen and (max-width: 510px) {
  .animation{
    position: relative;
    bottom: 100px;
  }
}

@media only screen and (max-width: 415px) {
  .turflistedprocess {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }

  .process_title {
    font-size: 18px;
    padding: 0px 10px;
    line-height: 25px;
  }
  .w3-light-grey {
    margin-left: 12px;
  }

  .slidetext {
    width: 70% !important;
  }
  .slidetxt {
    font-size: 11px;
    font-weight: 500;
  }
  .slidetxt_2 {
    font-size: 11px;
    margin-top: 30px !important;
    font-weight: 500;
  }
  .slidetxt_3 {
    font-size: 11px;
    margin-top: 25px !important;
    font-weight: 500;
  }
 
  .animation{
    position: relative;
    bottom: 120px;
  }
 
}

@media only screen and (max-width: 359px) {
  .slidetext {
    width: 100% !important;
  }
  .slidetext {
    margin-left: 30px !important;
  }
  .slidetxt {
    font-size: 10px;
  }
  .slidetxt_2 {
    font-size: 10px;
    margin-top: 35px !important;
  }
  .slidetxt_3 {
    font-size: 10px;
    margin-top: 25px !important;
  }
}
@media only screen and (max-width: 324px) {
  .process_title {
    padding: 0px 20px;
    font-size: 17px;
  }
}
@media only screen and (max-width: 294px) {
  .slidetxt {
    font-size: 9px;
  }
  .slidetxt_2 {
    font-size: 9px;
    margin-top: 35px !important;
  }
  .slidetxt_3 {
    font-size: 9px;
    margin-top: 30px !important;
  }
}
